.bg-strip{
    background-size: calc(100% / 6);
    background-repeat: repeat-x;
    border-left: 1px solid #c4c4c4;
    background-image: linear-gradient(to left, #c4c4c4 1px, transparent 1px, transparent);
       
}
.bg-enter{
    background-image: linear-gradient(to right, #fff calc(100% / 3), #0b1f43 calc(100% / 3) 100%)
}
.bg-enter-nav{
    background-image: linear-gradient(to right, #fff calc(100% / 3), #0b1f43 calc(100% / 3) 100%)
}
.adjust-padding{
    padding-left: calc(105%/6)!important;
}
@media(min-width: 2000px){
    .bg-enter-nav{
        background-image: linear-gradient(to right, #fff 340px, #0b1f43 340px 100%)
    }
}
.bg-base{
    background-image: linear-gradient(to right, #fff 50%, #0b1f43 50% 100%);
}
.bg-dark{
    background-color: #0b1f43;
}
.nav-title{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000
}
.nav-title:hover{
    cursor: default!important;
}
.navbar a:hover{
    color: #0b1f43;
}
.title{
    font-size: 48px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    font-weight: 700;
    color: #060b11;
}
.sub-title{
    font-size: 56px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    color: #060b11;
}
.sub-subtitle{
    font-size: 32px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    color: #060b11;
}
.card-font{
    font-family: 'Inter';
    font-weight: 800;
    font-size: 48px;
    line-height: 4rem;
}
.sub-content{
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #808080;
}

 hr.strip{
    border: 1px solid #c4c4c4;
    color: #c4c4c4
 }
 .container .below-title{
     
     border-right: 1px solid #c4c4c4;
     border-left: 1px solid #c4c4c4;
 }
 .mobile-nopad{
     padding-left: 100px;
 }
 .mobile-nomar{
    margin-left: 100px;
}
.input-left{
    border-top-right-radius:0%!important;
    border-bottom-right-radius:0%!important;
}
.btn-normal{
    padding: 2px 20px 2px 20px;
    margin: 0px;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    font-size: 14px;
    color: #999999;
    box-shadow: none;
    cursor: pointer;
  }
  .btn-reserve{
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 700 !important;
      padding: 23px!important;
      background-color: #fff !important;
      font-size: 24px !important;
      color: #222222;
      border: 1px solid #222222 !important;
      border-radius: 1rem;
  }
  .btn-sub{
      width: 20%;
      background-color: #186aff;
      color: white;
      border-top-right-radius:.25rem;
    border-bottom-right-radius:.25rem;
      padding: 0px 10px;
  }
  .box{
      width: 100%;
      padding: 92px 111px;
      border: 1px solid #999999;
      color: #060b11;
      font-size: 56px;
      display: flex;
      justify-content: center;

  }
  .img-ver{
    width: 267px;
    height:378px;
    object-fit: cover;
    
  }
  .footer-custom{
      background-color: #060b11;
      color: #fff;
      min-height: 170px;
  }
  .logo-base{
      flex-wrap: wrap;
      height: 46px;
      width: 46px;
  }
  .logo-conponent{
      
      width: 50%;
      height: 50%;
  }
  .font-white{
      color: #fff;
  }
  .card-shift{
      padding: 80px 0px;
  }
  @media(max-width: 576px){
     .btn-reserve{
         padding: 14px 23px!important;
     }
  }
@media(min-width:576px){
   .title{
       font-size: 50px;
   }
    .img-ver{
        width: 267px;
        height:378px;
        object-fit: cover;
        background-color: #fff;
      }
}
@media(min-width:768px){
    .title{
        font-size: 68px;
    }
    .img-ver{
        width: 267px;
        height:378px;
        object-fit: cover;
        background-color: #fff;
      }
}
@media(min-width:992px){
    .title{
        font-size: 43px;
    }
    .sub-title{
        font-size: 40px;
    }
    .img-ver{
        width: 267px;
        height:378px;
        object-fit: cover;
        background-color: #fff;
      }
}
@media(min-width:1079px){
    
    .sub-title{
        font-size: 40px;
    }
    .img-ver{
        width: 267px;
        height:378px;
        object-fit: cover;
        background-color: #fff;
      }
}
@media(min-width:1200px){
   .title{
       font-size: 51px;
   }
   .img-ver{
    width: 267px;
    height:378px;
    object-fit: cover;
    background-color: #fff;
  }
}
@media(min-width:1400px){
    .title{
        font-size: 60px;
    }
    .img-ver{
        width: 267px;
        height:378px;
        object-fit: cover;
        background-color: #fff;
      }
}
@media(min-width:2000px){
    .title{
        font-size: 85px;
    }
    .below-title{
            --container-margin: calc(100%/6);
            margin: 0px var(--container-margin);
    }
    .img-ver{
        width: 490px;
        height:660px;
        object-fit: cover;
        background-color: #fff;
      }
 }
 @media(max-width:768px){
    
    .mobile-nopad{
        padding: 0px;
    }
    .card-font{
        font-size: 35px!important;
    }
}
@media(max-width:1200px){
    .box{
        width: 100%;
        padding: 60px 80px;
        border: 1px solid #999999;
        color: #060b11;
        font-size: 36px;
        display: flex;
        justify-content: center;
  
    }
}
@media(max-width: 992px){
    .card-font{
        font-size: 40px;;
    }
    .card-shift{
        padding: 40px 0px;
    }
    .adjust-padding{
        padding-left: 20px!important;
    }
    .mobile-nomar{
        margin: 0px !important;
    }
    .mobile-nopad{
        padding: 0px;
    }
    .mobile-pad{
        padding: 20px;
    }
    .mobile-middle{
        display: flex;
        justify-content: center;
    }
    .mobile-mt{
        margin-top: 60px !important;
        
    }
    .mobile-ml{
        margin-left: 2rem;
    }
    .mobile-white{
        color: #fff!important;
    }
    .title{
        color: black;
        margin-left: 0px;
    }
    .container .below-title{
        margin: 0px;
    }
    .a-link.active{
        color: #bfbfbf !important;
        font-weight: 700;
    }
    .mobile-none{
        display: none!important;
    }
    .container .below-title{
        border: none!important;
    }
}

    @media(min-width:576px){
        .container-f{max-width:540px}
    }@media(min-width:768px){
        .container-f{max-width:720px}
    }@media(min-width:992px){
        .container-f{max-width:960px}
    }@media(min-width:1200px){
        .container-f{max-width:1140px}
    }@media(max-width:1400px){
        .container-f{max-width:1320px}
        
    }@media(min-width: 2000px){
        .container-f{max-width: 1920px;}
    }
    .mct-10{
        margin-top: 100px !important;
    }
    .mct-5{
        margin-top: 50px !important;
    }
    .mct-4{
        margin-top: 40px !important;
    }
    .mct-3{
        margin-top: 30px !important;
    }
    .mct-2{
        margin-top: 20px !important;
    }
    .mct-1{
        margin-top: 10px !important;
    }
    .a-link{
        color: #8c8c8c;
        cursor: pointer;
    }
    .a-link.active{
        color: #fff;
        font-weight: 700;
    }
    .a-link:hover{
        color: #fff !important;
        font-weight: 700;
    }
    .card-1{
        
        background-size: cover;
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../img/메인페이지 카드/quickorder-LbInNgbm_Ts-unsplash.jpg');
    }
    .card-2{
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../img/메인페이지 카드/markus-winkler-cxoR55-bels-unsplash.jpg');
        background-size: cover;
    }
    .card-3{
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../img/메인페이지 카드/question-63916_1920.jpg');
        background-size: cover;
    }
    .card-4{
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../img/메인페이지 카드/headway-5QgIuuBxKwM-unsplash.jpg');
        background-size: cover;
    }